@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f8ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f8ff;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}
