@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f8ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f8ff;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive;
}

.swiper-pagination {
  @apply bottom-0;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 40px;
}

.custom-pagination span {
  width: 22px;
  height: 8px;
  border-radius: 12px;
  background-color: #a898fd;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.custom-pagination span.swiper-pagination-bullet-active {
  width: 32px;
  background-color: #7e53d4; /* Active bullet color */
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #7e53d4;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 15px;
  height: 15px;
  background: #000000;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.swiper-pagination {
  width: 90px !important;
  height: 50px;
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #e0dcf8;
  margin-left: auto;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.featureproduct .swiper-pagination {
  display: none;
}

.button-element:hover a {
  background: #5c36a1;
  transition: all 0.6s ease;
}

.button-element:hover span {
  background: #5c36a1;
  transition: all 0.6s ease;
}
.button-element:hover span svg {
  transition: all 0.1s ease;
}
.button-element:hover span svg {
  transform: rotate(80deg);
}
